* {
    border: none;
    border-radius: 0;
    font-family: "Iosevka";
    font-weight: bold;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: rgba(15, 15, 15, 0);
    color: #100F0F;
}

tooltip {
    background: #100F0F;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #cdd6f4;
}

#workspaces button {
    padding: 5px;
    color: #313244;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

#custom-power_profile,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
    background: #100F0F;
    color: #cdd6f4;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 0px 0px;
    margin-top: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #cdd6f4;
}

#clock {
    border-radius: 10px 10px 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#network {
    border-radius: 10px 10px 10px 10px;
}


#workspaces {
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#battery {
    border-radius: 10px 0px 0px 10px;
    margin-right: 0;
    border-right: 0px;
}

#pulseaudio {
    border-radius: 0px 0px 0px 0px;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
}


#backlight {
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    margin-right: 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}
