window {
    margin: 0px;
    border: 2px solid #cdd6f4;
    background-color: #100f0f;
}

#input {
    margin: 5px;
    border: none;
    color: #cdd6f4;
    background-color: #4475a;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #100f0f;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #100f0f;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #f8f8f2;
}

#entry:selected {
    border: 2px solid #cdd6f4;
    background-color: rgba(0, 0, 0, 0);
}

#entry:selected #text {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
}
